# SkillFactory
## Введение в ML, введение в sklearn

В этом задании мы с вами рассмотрим данные с конкурса [Задача предсказания отклика клиентов ОТП Банка](http://www.machinelearning.ru/wiki/index.php?title=%D0%97%D0%B0%D0%B4%D0%B0%D1%87%D0%B0_%D0%BF%D1%80%D0%B5%D0%B4%D1%81%D0%BA%D0%B0%D0%B7%D0%B0%D0%BD%D0%B8%D1%8F_%D0%BE%D1%82%D0%BA%D0%BB%D0%B8%D0%BA%D0%B0_%D0%BA%D0%BB%D0%B8%D0%B5%D0%BD%D1%82%D0%BE%D0%B2_%D0%9E%D0%A2%D0%9F_%D0%91%D0%B0%D0%BD%D0%BA%D0%B0_%28%D0%BA%D0%BE%D0%BD%D0%BA%D1%83%D1%80%D1%81%29)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (12,5)

### Грузим данные

Считаем описание данных

In [2]:

df_descr = pd.read_csv('data/otp_description.csv', sep='\t', encoding='utf8')

In [3]:
df_descr

,ПОЛЕ,ОПИСАНИЕ
0,AGREEMENT_RK,уникальный идентификатор объекта в выборке
1,AGE,возраст клиента
2,SOCSTATUS_WORK_FL,социальный статус клиента относительно работы ...
3,SOCSTATUS_PENS_FL,социальный статус клиента относительно пенсии ...
4,GENDER,"пол клиента (1- женщины, 0-мужчины)"
5,CHILD_TOTAL,количество детей клиента
6,DEPENDANTS,количество иждивенцев клиента
7,EDUCATION,образование
8,MARITAL_STATUS,семейное положение
9,GEN_INDUSTRY,отрасль работы клиента
10,GEN_TITLE,должность
11,ORG_TP_STATE,форма собственности компании
12,ORG_TP_FCAPITAL,отношение к иностранному капиталу
13,JOB_DIR,направление деятельности в нутри компании
14,FAMILY_INCOME,семейный доход (несколько категорий)
15,PERSONAL_INCOME,личный доход клиента (в рублях)
16,REG_ADDRESS_PROVINCE,область регистрации клиента
17,FACT_ADDRESS_PROVINCE,область фактического пребывания клиента
18,POSTAL_ADDRESS_PROVINCE,почтовый адрес область
19,TP_PROVINCE,"область торговой точки, где клиент брал послед..."
20,REGION_NM,регион РФ
21,REG_FACT_FL,адрес регистрации и адрес фактического пребыва...
22,FACT_POST_FL,адрес фактического пребывания клиента и его по...
23,REG_POST_FL,адрес регистрации клиента и его почтовый адрес...
24,REG_FACT_POST_FL,"почтовый, фактический и адрес регистрации совп..."
25,REG_FACT_POST_TP_FL,"область регистрации, фактического пребывания, ..."
26,FL_PRESENCE_FL,"наличие в собственности квартиры (1 - есть, 0 ..."
27,OWN_AUTO,кол-во автомобилей в собственности
28,AUTO_RUS_FL,наличие в собственности автомобиля российского...
29,HS_PRESENCE_FL,наличие в собственности загородного дома (1 - ...
30,COT_PRESENCE_FL,"наличие в собственности котеджа (1 - есть, 0 -..."
31,GAR_PRESENCE_FL,"наличие в собственности гаража (1 - есть, 0 - ..."
32,LAND_PRESENCE_FL,наличие в собственности земельного участка (1 ...
33,CREDIT,сумма последнего кредита клиента (в рублях)
34,TERM,срок кредита
35,FST_PAYMENT,первоначальный взнос (в рублях)
36,DL_DOCUMENT_FL,в анкете клиент указал водительское удостовере...
37,GPF_DOCUMENT_FL,"в анкете клиен указал ГПФ (1 - указал, 0 - не ..."
38,FACT_LIVING_TERM,количество месяцев проживания по месту фактиче...
39,WORK_TIME,время работы на текущем месте (в месяцах)
40,FACT_PHONE_FL,наличие в заявке телефона по фактическому мест...
41,REG_PHONE_FL,наличие в заявке телефона по месту регистрации
42,GEN_PHONE_FL,наличие в заявке рабочего телефона
43,LOAN_NUM_TOTAL,количество ссуд клиента
44,LOAN_NUM_CLOSED,количество погашенных ссуд клиента
45,LOAN_NUM_PAYM,"количество платежей, которые сделал клиент"
46,LOAN_DLQ_NUM,"количество просрочек, допущенных клиентом"
47,LOAN_MAX_DLQ,"номер максимальной просрочки, допущенной клиентом"
48,LOAN_AVG_DLQ_AMT,средняя сумма просрочки (в рублях)
49,LOAN_MAX_DLQ_AMT,максимальная сумма просрочки (в рублях)
50,PREVIOUS_CARD_NUM_UTILIZED,количество уже утилизированных карт ( если пус...

Считаем обучающую выборки и тестовую (которую мы как бы не видим)

In [4]:
df_train = pd.read_csv('data/otp_train.csv', sep='\t', encoding='utf8')

In [5]:
df_train.shape

(15223, 52)

In [6]:
df_test = pd.read_csv('data/otp_test.csv', sep='\t', encoding='utf8')

In [7]:
df_test.shape

(14910, 52)

In [8]:
df_train.head()

,AGREEMENT_RK,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,EDUCATION,MARITAL_STATUS,...,REG_PHONE_FL,GEN_PHONE_FL,LOAN_NUM_TOTAL,LOAN_NUM_CLOSED,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ,LOAN_AVG_DLQ_AMT,LOAN_MAX_DLQ_AMT,PREVIOUS_CARD_NUM_UTILIZED
0,59910150,0,49,1,0,1,2,1,Среднее специальное,Состою в браке,...,0,1,1,1,6,2,1,1580,1580,NaN
1,59910230,0,32,1,0,1,3,3,Среднее,Состою в браке,...,0,1,1,1,6,1,1,4020,4020,NaN
2,59910525,0,52,1,0,1,4,0,Неполное среднее,Состою в браке,...,0,1,2,1,11,0,0,0,0,NaN
3,59910803,0,39,1,0,1,1,1,Высшее,Состою в браке,...,1,1,1,1,6,3,1,"1589,92333333333",1590,NaN
4,59911781,0,30,1,0,0,0,0,Среднее,Состою в браке,...,0,1,2,1,16,2,1,"1152,15",2230,NaN

## Объединим две выборки

Так как пока мы пока не умеем работать sklearn  Pipeline, то для того, чтобы после предобработки столбцы в двух выборках находились на своих местах.

Для того, чтобы в дальнейшем отделить их введем новый столбец "sample"

In [9]:
df_train.loc[:, 'sample'] = 'train'
df_test.loc[:, 'sample'] = 'test'

In [10]:
df = df_test.append(df_train).reset_index(drop=True)

In [11]:
df.shape

(30133, 53)

### Чуть-чуть посмотрим на данные

Посмотрим типы данных и их заполняемость

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30133 entries, 0 to 30132
Data columns (total 53 columns):
AGREEMENT_RK                  30133 non-null int64
TARGET                        30133 non-null int64
AGE                           30133 non-null int64
SOCSTATUS_WORK_FL             30133 non-null int64
SOCSTATUS_PENS_FL             30133 non-null int64
GENDER                        30133 non-null int64
CHILD_TOTAL                   30133 non-null int64
DEPENDANTS                    30133 non-null int64
EDUCATION                     30133 non-null object
MARITAL_STATUS                30133 non-null object
GEN_INDUSTRY                  27420 non-null object
GEN_TITLE                     27420 non-null object
ORG_TP_STATE                  27420 non-null object
ORG_TP_FCAPITAL               27425 non-null object
JOB_DIR                       27420 non-null object
FAMILY_INCOME                 30133 non-null object
PERSONAL_INCOME               30133 non-null object
REG_ADDRESS_PROVINCE          30133 non-null object
FACT_ADDRESS_PROVINCE         30133 non-null object
POSTAL_ADDRESS_PROVINCE       30133 non-null object
TP_PROVINCE                   29543 non-null object
REGION_NM                     30131 non-null object
REG_FACT_FL                   30133 non-null int64
FACT_POST_FL                  30133 non-null int64
REG_POST_FL                   30133 non-null int64
REG_FACT_POST_FL              30133 non-null int64
REG_FACT_POST_TP_FL           30133 non-null int64
FL_PRESENCE_FL                30133 non-null int64
OWN_AUTO                      30133 non-null int64
AUTO_RUS_FL                   30133 non-null int64
HS_PRESENCE_FL                30133 non-null int64
COT_PRESENCE_FL               30133 non-null int64
GAR_PRESENCE_FL               30133 non-null int64
LAND_PRESENCE_FL              30133 non-null int64
CREDIT                        30133 non-null object
TERM                          30133 non-null int64
FST_PAYMENT                   30133 non-null object
DL_DOCUMENT_FL                30133 non-null int64
GPF_DOCUMENT_FL               30133 non-null int64
FACT_LIVING_TERM              30133 non-null int64
WORK_TIME                     27416 non-null float64
FACT_PHONE_FL                 30133 non-null int64
REG_PHONE_FL                  30133 non-null int64
GEN_PHONE_FL                  30133 non-null int64
LOAN_NUM_TOTAL                30133 non-null int64
LOAN_NUM_CLOSED               30133 non-null int64
LOAN_NUM_PAYM                 30133 non-null int64
LOAN_DLQ_NUM                  30133 non-null int64
LOAN_MAX_DLQ                  30133 non-null int64
LOAN_AVG_DLQ_AMT              30133 non-null object
LOAN_MAX_DLQ_AMT              30133 non-null object
PREVIOUS_CARD_NUM_UTILIZED    600 non-null float64
sample                        30133 non-null object
dtypes: float64(2), int64(32), object(19)
memory usage: 12.2+ MB

Видим, что часть данных - object, скорее всего стоки.


Давайте выведем эти значения для каждого столбца

In [ ]:
for i in df_train.columns: # перебираем все столбцы
    if str(df_train[i].dtype) == 'object': # если тип столбца - object
        print('='*10)
        print(i) # выводим название столбца
        print(set(df_train[i])) # выводим все его значения (но делаем set - чтоб значения не повторялись)
        print('\n') # выводим пустую строку

In [ ]:
for i in df.columns: # перебираем все столбцы
    if str(df[i].dtype) == 'object': # если тип столбца - object
        print('='*10)
        print(i) # выводим название столбца
        print(set(df[i])) # выводим все его значения (но делаем set - чтоб значения не повторялись)
        print('\n') # выводим пустую строку

Mожно заметить что некоторые переменные, которые обозначены как строки (например PERSONAL_INCOME) на самом деле числа, но по какой-то причине были распознаны как строки

Причина же что использовалась запятая для разделения не целой части числа..

Перекодировать их можно например так:

In [ ]:
#df['PERSONAL_INCOME'].map(lambda x: x.replace(',', '.')).astype('float')

In [13]:
df['PERSONAL_INCOME'] = df['PERSONAL_INCOME'].map(lambda x: x.replace(',', '.')).astype('float')

In [14]:
df['CREDIT'] = df['CREDIT'].map(lambda x: x.replace(',', '.')).astype('float')

In [15]:
df['FST_PAYMENT'] = df['FST_PAYMENT'].map(lambda x: x.replace(',', '.')).astype('float')

In [16]:
df['LOAN_MAX_DLQ_AMT'] = df['LOAN_MAX_DLQ_AMT'].map(lambda x: x.replace(',', '.')).astype('float')

In [17]:
df['LOAN_AVG_DLQ_AMT'] = df['LOAN_AVG_DLQ_AMT'].map(lambda x: x.replace(',', '.')).astype('float')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30133 entries, 0 to 30132
Data columns (total 53 columns):
AGREEMENT_RK                  30133 non-null int64
TARGET                        30133 non-null int64
AGE                           30133 non-null int64
SOCSTATUS_WORK_FL             30133 non-null int64
SOCSTATUS_PENS_FL             30133 non-null int64
GENDER                        30133 non-null int64
CHILD_TOTAL                   30133 non-null int64
DEPENDANTS                    30133 non-null int64
EDUCATION                     30133 non-null object
MARITAL_STATUS                30133 non-null object
GEN_INDUSTRY                  27420 non-null object
GEN_TITLE                     27420 non-null object
ORG_TP_STATE                  27420 non-null object
ORG_TP_FCAPITAL               27425 non-null object
JOB_DIR                       27420 non-null object
FAMILY_INCOME                 30133 non-null object
PERSONAL_INCOME               30133 non-null float64
REG_ADDRESS_PROVINCE          30133 non-null object
FACT_ADDRESS_PROVINCE         30133 non-null object
POSTAL_ADDRESS_PROVINCE       30133 non-null object
TP_PROVINCE                   29543 non-null object
REGION_NM                     30131 non-null object
REG_FACT_FL                   30133 non-null int64
FACT_POST_FL                  30133 non-null int64
REG_POST_FL                   30133 non-null int64
REG_FACT_POST_FL              30133 non-null int64
REG_FACT_POST_TP_FL           30133 non-null int64
FL_PRESENCE_FL                30133 non-null int64
OWN_AUTO                      30133 non-null int64
AUTO_RUS_FL                   30133 non-null int64
HS_PRESENCE_FL                30133 non-null int64
COT_PRESENCE_FL               30133 non-null int64
GAR_PRESENCE_FL               30133 non-null int64
LAND_PRESENCE_FL              30133 non-null int64
CREDIT                        30133 non-null float64
TERM                          30133 non-null int64
FST_PAYMENT                   30133 non-null float64
DL_DOCUMENT_FL                30133 non-null int64
GPF_DOCUMENT_FL               30133 non-null int64
FACT_LIVING_TERM              30133 non-null int64
WORK_TIME                     27416 non-null float64
FACT_PHONE_FL                 30133 non-null int64
REG_PHONE_FL                  30133 non-null int64
GEN_PHONE_FL                  30133 non-null int64
LOAN_NUM_TOTAL                30133 non-null int64
LOAN_NUM_CLOSED               30133 non-null int64
LOAN_NUM_PAYM                 30133 non-null int64
LOAN_DLQ_NUM                  30133 non-null int64
LOAN_MAX_DLQ                  30133 non-null int64
LOAN_AVG_DLQ_AMT              30133 non-null float64
LOAN_MAX_DLQ_AMT              30133 non-null float64
PREVIOUS_CARD_NUM_UTILIZED    600 non-null float64
sample                        30133 non-null object
dtypes: float64(7), int64(32), object(14)
memory usage: 12.2+ MB

In [ ]:
#df = pd.get_dummies(df)

In [ ]:
#df = pd.get_dummies(df, columns=
#               ['EDUCATION', 'MARITAL_STATUS', 
#                'FAMILY_INCOME', 'REG_ADDRESS_PROVINCE', 
#                'FACT_ADDRESS_PROVINCE', 
#                'POSTAL_ADDRESS_PROVINCE', 'REGION_NM', 
#                'sample']
#              )

In [ ]:
#list(df.columns.values)

Такой эффект наблюдается в столбцах `PERSONAL_INCOME`, `CREDIT`, `FST_PAYMENT`, `LOAN_AVG_DLQ_AMT`, `LOAN_MAX_DLQ_AMT`

### Теперь ваше небольшое исследование

#### Задание 1. Есть ли пропуски в данных? Что с ними сделать?

(единственного верного ответа нет - аргументируйте)

не хватает данных тут:

REGION_NM                     30131 non-null object
GEN_INDUSTRY                  27420 non-null object
GEN_TITLE                     27420 non-null object
ORG_TP_STATE                  27420 non-null object
ORG_TP_FCAPITAL               27425 non-null object
JOB_DIR                       27420 non-null object
TP_PROVINCE                   29543 non-null object
эти данные мы обработает с помощью df = pd.get_dummies(df)


WORK_TIME                     27416 non-null float64
PREVIOUS_CARD_NUM_UTILIZED    600 non-null float64

для PREVIOUS_CARD_NUM_UTILIZED там где nan сделаем 0
в случае WORK_TIME подставим среднюю

но сделаем это позже.
###df = df.drop(['PREVIOUS_CARD_NUM_UTILIZED'], axis=1)
#df["WORK_TIME"].median()
48.0
#df['WORK_TIME'] = df['WORK_TIME'].fillna(48)
#df.info(verbose=True, null_counts=True) ##будет видно все данные

#### Задание 2. Есть ли категориальные признаки? Что с ними делать?

In [19]:
# есть, позже приведем к адекватному виду
df.select_dtypes(exclude=['object']).join(pd.get_dummies(df.select_dtypes(include=['object'])))

,AGREEMENT_RK,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,PERSONAL_INCOME,REG_FACT_FL,...,REGION_NM_ПОВОЛЖСКИЙ,REGION_NM_ПРИВОЛЖСКИЙ,REGION_NM_СЕВЕРО-ЗАПАДНЫЙ,REGION_NM_УРАЛЬСКИЙ,REGION_NM_ЦЕНТРАЛЬНЫЙ 1,REGION_NM_ЦЕНТРАЛЬНЫЙ 2,REGION_NM_ЦЕНТРАЛЬНЫЙ ОФИС,REGION_NM_ЮЖНЫЙ,sample_test,sample_train
0,59909969,0,30,1,0,1,1,1,7000.0,0,...,0,0,0,0,0,0,0,0,1,0
1,59910420,0,48,0,1,1,0,0,4100.0,1,...,0,0,0,0,1,0,0,0,1,0
2,59911223,0,35,1,0,0,1,0,40000.0,1,...,0,0,0,0,0,1,0,0,1,0
3,59911322,0,22,1,0,0,0,0,20000.0,1,...,0,0,0,0,0,0,0,0,1,0
4,59911438,0,27,1,0,1,2,2,17000.0,1,...,0,0,0,0,0,0,0,0,1,0
5,59911769,0,44,0,1,0,2,2,7000.0,1,...,0,1,0,0,0,0,0,0,1,0
6,59912044,0,57,1,0,1,0,0,10000.0,1,...,0,0,0,1,0,0,0,0,1,0
7,59912382,0,33,1,0,1,2,2,7500.0,1,...,0,0,0,0,0,0,0,0,1,0
8,59912422,0,53,0,1,1,2,0,9000.0,1,...,0,0,0,0,0,0,0,0,1,0
9,59912485,1,33,1,0,0,1,0,4000.0,1,...,1,0,0,0,0,0,0,0,1,0
10,59912527,0,33,1,0,0,1,1,15000.0,1,...,0,0,0,1,0,0,0,0,1,0
11,59912542,0,40,1,0,1,1,1,12000.0,1,...,0,0,0,0,0,1,0,0,1,0
12,59912574,0,59,0,1,1,0,0,8000.0,1,...,0,0,0,0,0,0,0,0,1,0
13,59912645,0,39,1,0,1,2,2,20000.0,1,...,0,0,0,0,0,1,0,0,1,0
14,59912670,0,23,1,0,0,0,0,18500.0,1,...,0,0,0,1,0,0,0,0,1,0
15,59912684,0,28,1,0,0,1,2,14000.0,0,...,0,0,0,1,0,0,0,0,1,0
16,59912731,0,55,1,0,1,0,0,6000.0,1,...,0,0,0,0,1,0,0,0,1,0
17,59912931,0,57,1,1,1,2,0,9000.0,1,...,1,0,0,0,0,0,0,0,1,0
18,59912951,0,34,1,0,1,2,2,5000.0,0,...,0,0,0,0,0,0,0,1,1,0
19,59913256,0,51,1,0,1,2,0,15000.0,1,...,0,0,0,0,0,0,0,0,1,0
20,59913432,0,65,0,1,1,2,0,6100.0,1,...,0,0,0,1,0,0,0,0,1,0
21,59913524,1,39,1,0,1,2,2,22180.0,1,...,0,0,0,0,0,0,0,0,1,0
22,59913601,0,55,1,0,1,2,0,9000.0,1,...,0,0,0,0,0,0,0,0,1,0
23,59913650,1,33,1,0,1,1,1,8700.0,1,...,0,0,0,0,0,0,0,0,1,0
24,59913678,0,46,1,0,1,2,0,7000.0,1,...,0,0,0,0,1,0,0,0,1,0
25,59913739,0,40,1,0,1,2,2,6000.0,1,...,0,0,0,0,0,0,0,1,1,0
26,59913764,1,47,1,0,1,0,0,15000.0,1,...,0,0,0,0,1,0,0,0,1,0
27,59914013,0,23,1,0,0,0,1,12000.0,1,...,0,0,0,0,0,1,0,0,1,0
28,59914189,0,63,0,1,0,0,0,11000.0,1,...,0,0,0,0,0,1,0,0,1,0
29,59914336,0,23,1,0,0,0,0,8000.0,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30103,75288570,0,36,1,0,1,1,1,12000.0,1,...,0,0,0,0,0,0,0,0,0,1
30104,75288759,0,49,1,0,1,3,1,10000.0,1,...,0,0,0,0,0,0,0,0,0,1
30105,75288846,0,51,1,1,1,1,0,10000.0,1,...,0,0,0,0,0,0,0,0,0,1
30106,75288884,0,64,0,1,1,0,0,8000.0,1,...,0,0,0,0,1,0,0,0,0,1
30107,75288922,0,61,0,1,1,0,0,11000.0,1,...,1,0,0,0,0,0,0,0,0,1
30108,75288976,0,49,1,0,1,0,0,7000.0,1,...,0,0,0,0,0,0,0,1,0,1
30109,75289030,0,28,1,0,0,1,1,10000.0,1,...,0,0,0,0,0,1,0,0,0,1
30110,75289115,1,34,1,0,0,2,2,8000.0,1,...,0,0,0,0,0,1,0,0,0,1
30111,75289165,0,56,1,1,1,2,0,25000.0,1,...,0,0,0,1,0,0,0,0,0,1
30112,75289228,0,34,1,0,1,1,1,10000.0,1,...,0,0,0,1,0,0,0,0,0,1
30113,75289331,0,40,1,0,1,2,2,12000.0,1,...,0,0,0,0,0,0,0,0,0,1
30114,75289366,1,43,1,0,0,0,0,7000.0,1,...,0,0,0,0,0,0,0,0,0,1
30115,75289474,0,33,1,0,1,2,2,12000.0,1,...,0,0,0,0,0,0,0,0,0,1
30116,75289649,0,56,1,0,1,0,0,14500.0,1,...,0,0,0,0,0,1,0,0,0,1
30117,75289804,0,25,1,0,1,0,0,12000.0,1,...,0,0,0,0,0,0,0,1,0,1
30118,75289810,0,37,1,0,1,1,1,8000.0,1,...,0,1,0,0,0,0,0,0,0,1
30119,75289867,1,48,1,0,1,0,0,7000.0,1,...,0,0,0,0,1,0,0,0,0,1
30120,75289907,0,30,1,0,1,2,2,10000.0,1,...,0,0,0,0,0,0,0,1,0,1
30121,75290193,0,35,1,0,1,1,1,10000.0,1,...,0,0,1,0,0,0,0,0,0,1
30122,75290209,0,55,1,0,0,1,2,10000.0,1,...,0,0,0,0,0,0,0,1,0,1
30123,75290347,1,36,1,0,0,0,0,15000.0,0,...,0,0,0,0,0,0,0,0,0,1
30124,75290611,0,31,1,0,1,1,1,8100.0,1,...,0,0,0,0,1,0,0,0,0,1
30125,75290704,0,35,1,0,1,1,1,9500.0,0,...,1,0,0,0,0,0,0,0,0,1
30126,75291177,0,61,1,0,0,0,0,13000.0,1,...,0,0,0,0,0,0,0,0,0,1
30127,75291338,0,39,1,0,1,1,1,10000.0,1,...,0,0,0,0,0,1,0,0,0,1
30128,75291424,0,25,1,0,0,1,1,12000.0,0,...,0,0,0,0,0,1,0,0,0,1
30129,75291888,0,51,1,0,1,2,0,10000.0,1,...,0,0,0,1,0,0,0,0,0,1
30130,75291923,0,22,1,0,1,1,1,6000.0,1,...,0,0,0,0,1,0,0,0,0,1
30131,75291960,0,60,0,1,1,2,0,4500.0,1,...,0,0,0,0,0,0,0,0,0,1
30132,75292242,0,37,1,0,0,2,0,20000.0,1,...,0,0,0,0,0,0,0,1,0,1

In [ ]:
#df.corr()

In [ ]:
#from pandas.plotting import scatter_matrix
#scatter_matrix(df, alpha=1, figsize=(10, 10))

#### Задание 3. Фунция предобработки

Напишите функцию, которая бы

* Удаляло идентификатор `AGREEMENT_RK`
* Избавлялась от проблем с '.' и ',' в стобцах PERSONAL_INCOME, CREDIT, FST_PAYMENT, LOAN_AVG_DLQ_AMT, LOAN_MAX_DLQ_AMT
* Что-то делала с пропусками
* Кодировала категориальные признаки

В результате, ваш датафрейм должен содержать только числа и не содержать пропусков!

In [41]:
def preproc_data(df_input):
    df_output = df_input.copy()
    
    
    ## Your Code Here
    # delete AGREEMENT_RK
    df_output = df_output.drop(['AGREEMENT_RK'], axis=1)
    
    #float to int
    df_output['PERSONAL_INCOME'] = df_output['PERSONAL_INCOME'].astype('int64')
    df_output['CREDIT'] = df_output['CREDIT'].astype('int64')
    df_output['FST_PAYMENT'] = df_output['FST_PAYMENT'].astype('int64')
    df_output['LOAN_AVG_DLQ_AMT'] = df_output['LOAN_AVG_DLQ_AMT'].astype('int64')
    df_output['LOAN_MAX_DLQ_AMT'] = df_output['LOAN_MAX_DLQ_AMT'].astype('int64')
    
    #work time fill
    df_output['WORK_TIME'] = df_output['WORK_TIME'].fillna(df_output["WORK_TIME"].median()).astype('int64')
    
    #prev card
    df_output['PREVIOUS_CARD_NUM_UTILIZED'] = df_output['PREVIOUS_CARD_NUM_UTILIZED'].fillna(0).astype('int64')
    
    # category code
    df_output = pd.get_dummies(df_output, columns=['EDUCATION', 'MARITAL_STATUS', 
                                                   'GEN_INDUSTRY', 'GEN_TITLE', 
                                                   'ORG_TP_STATE', 'ORG_TP_FCAPITAL', 
                                                   'JOB_DIR', 'FAMILY_INCOME', 
                                                   'REG_ADDRESS_PROVINCE', 
                                                   'FACT_ADDRESS_PROVINCE', 
                                                   'POSTAL_ADDRESS_PROVINCE', 
                                                   'TP_PROVINCE', 'REGION_NM'])
        
    return df_output

In [42]:
df_preproc = df.pipe(preproc_data)

df_train_preproc = df_preproc.query('sample == "train"').drop(['sample'], axis=1)
df_test_preproc = df_preproc.query('sample == "test"').drop(['sample'], axis=1)

In [43]:
df_preproc.head(5).T

                                     0     1      2      3      4
TARGET                               0     0      0      0      0
AGE                                 30    48     35     22     27
SOCSTATUS_WORK_FL                    1     0      1      1      1
SOCSTATUS_PENS_FL                    0     1      0      0      0
GENDER                               1     1      0      0      1
CHILD_TOTAL                          1     0      1      0      2
DEPENDANTS                           1     0      0      0      2
PERSONAL_INCOME                   7000  4100  40000  20000  17000
REG_FACT_FL                          0     1      1      1      1
FACT_POST_FL                         1     1      1      1      1
REG_POST_FL                          0     1      1      1      1
REG_FACT_POST_FL                     0     1      1      1      1
REG_FACT_POST_TP_FL                  1     1      1      1      1
FL_PRESENCE_FL                       1     0      0      1      0
OWN_AUTO                             0     0      1      0      0
AUTO_RUS_FL                          0     0      1      0      0
HS_PRESENCE_FL                       0     1      0      0      0
COT_PRESENCE_FL                      0     0      0      0      0
GAR_PRESENCE_FL                      0     1      0      0      0
LAND_PRESENCE_FL                     0     0      0      0      0
CREDIT                            3016  6000  10000   5175  13065
TERM                                 5     6      6      4      6
FST_PAYMENT                        335  2000   2490    575  10000
DL_DOCUMENT_FL                       0     0      0      0      0
GPF_DOCUMENT_FL                      0     1      0      0      0
FACT_LIVING_TERM                    96   299     19    252     36
WORK_TIME                           39    48    156      9     84
FACT_PHONE_FL                        1     0      1      1      0
REG_PHONE_FL                         0     0      0      0      0
GEN_PHONE_FL                         1     0      1      1      1
...                                ...   ...    ...    ...    ...
TP_PROVINCE_Сахалинская область      0     0      0      0      0
TP_PROVINCE_Свердловская область     0     0      0      0      0
TP_PROVINCE_Смоленская область       0     0      0      0      0
TP_PROVINCE_Ставропольский край      0     0      0      0      0
TP_PROVINCE_Тамбовская область       0     0      0      0      0
TP_PROVINCE_Татарстан                0     0      0      0      0
TP_PROVINCE_Тверская область         0     0      0      0      0
TP_PROVINCE_Томская область          0     0      0      0      0
TP_PROVINCE_Тульская область         0     0      0      0      0
TP_PROVINCE_Тюменская область        0     0      0      0      0
TP_PROVINCE_Удмуртия                 0     0      0      0      0
TP_PROVINCE_Ульяновская область      0     0      0      0      0
TP_PROVINCE_Хабаровский край         0     0      0      0      1
TP_PROVINCE_Ханты-Мансийский АО      0     0      0      0      0
TP_PROVINCE_Челябинская область      0     0      0      0      0
TP_PROVINCE_Читинская область        0     0      0      1      0
TP_PROVINCE_Чувашия                  0     0      0      0      0
TP_PROVINCE_Якутия                   0     0      0      0      0
TP_PROVINCE_Ярославская область      0     0      0      0      0
REGION_NM_ВОСТОЧНО-СИБИРСКИЙ         1     0      0      1      0
REGION_NM_ДАЛЬНЕВОСТОЧНЫЙ            0     0      0      0      1
REGION_NM_ЗАПАДНО-СИБИРСКИЙ          0     0      0      0      0
REGION_NM_ПОВОЛЖСКИЙ                 0     0      0      0      0
REGION_NM_ПРИВОЛЖСКИЙ                0     0      0      0      0
REGION_NM_СЕВЕРО-ЗАПАДНЫЙ            0     0      0      0      0
REGION_NM_УРАЛЬСКИЙ                  0     0      0      0      0
REGION_NM_ЦЕНТРАЛЬНЫЙ 1              0     1      0      0      0
REGION_NM_ЦЕНТРАЛЬНЫЙ 2              0     0      1      0      0
REGION_NM_ЦЕНТРАЛЬНЫЙ ОФИС           0     0      0      0      0
REGION_NM_ЮЖНЫЙ                      0     0      0      0      0

[444 rows x 5 columns]

In [44]:
df_preproc.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30133 entries, 0 to 30132
Data columns (total 444 columns):
TARGET                                                    30133 non-null int64
AGE                                                       30133 non-null int64
SOCSTATUS_WORK_FL                                         30133 non-null int64
SOCSTATUS_PENS_FL                                         30133 non-null int64
GENDER                                                    30133 non-null int64
CHILD_TOTAL                                               30133 non-null int64
DEPENDANTS                                                30133 non-null int64
PERSONAL_INCOME                                           30133 non-null int64
REG_FACT_FL                                               30133 non-null int64
FACT_POST_FL                                              30133 non-null int64
REG_POST_FL                                               30133 non-null int64
REG_FACT_POST_FL                                          30133 non-null int64
REG_FACT_POST_TP_FL                                       30133 non-null int64
FL_PRESENCE_FL                                            30133 non-null int64
OWN_AUTO                                                  30133 non-null int64
AUTO_RUS_FL                                               30133 non-null int64
HS_PRESENCE_FL                                            30133 non-null int64
COT_PRESENCE_FL                                           30133 non-null int64
GAR_PRESENCE_FL                                           30133 non-null int64
LAND_PRESENCE_FL                                          30133 non-null int64
CREDIT                                                    30133 non-null int64
TERM                                                      30133 non-null int64
FST_PAYMENT                                               30133 non-null int64
DL_DOCUMENT_FL                                            30133 non-null int64
GPF_DOCUMENT_FL                                           30133 non-null int64
FACT_LIVING_TERM                                          30133 non-null int64
WORK_TIME                                                 30133 non-null int64
FACT_PHONE_FL                                             30133 non-null int64
REG_PHONE_FL                                              30133 non-null int64
GEN_PHONE_FL                                              30133 non-null int64
LOAN_NUM_TOTAL                                            30133 non-null int64
LOAN_NUM_CLOSED                                           30133 non-null int64
LOAN_NUM_PAYM                                             30133 non-null int64
LOAN_DLQ_NUM                                              30133 non-null int64
LOAN_MAX_DLQ                                              30133 non-null int64
LOAN_AVG_DLQ_AMT                                          30133 non-null int64
LOAN_MAX_DLQ_AMT                                          30133 non-null int64
PREVIOUS_CARD_NUM_UTILIZED                                30133 non-null int64
sample                                                    30133 non-null object
EDUCATION_Высшее                                          30133 non-null uint8
EDUCATION_Два и более высших образования                  30133 non-null uint8
EDUCATION_Неоконченное высшее                             30133 non-null uint8
EDUCATION_Неполное среднее                                30133 non-null uint8
EDUCATION_Среднее                                         30133 non-null uint8
EDUCATION_Среднее специальное                             30133 non-null uint8
EDUCATION_Ученая степень                                  30133 non-null uint8
MARITAL_STATUS_Вдовец/Вдова                               30133 non-null uint8
MARITAL_STATUS_Гражданский брак                           30133 non-null uint8
MARITAL_STATUS_Не состоял в браке                         30133 non-null uint8
MARITAL_STATUS_Разведен(а)                                30133 non-null uint8
MARITAL_STATUS_Состою в браке                             30133 non-null uint8
GEN_INDUSTRY_Банк/Финансы                                 30133 non-null uint8
GEN_INDUSTRY_Государственная служба                       30133 non-null uint8
GEN_INDUSTRY_Другие сферы                                 30133 non-null uint8
GEN_INDUSTRY_Здравоохранение                              30133 non-null uint8
GEN_INDUSTRY_Информационные технологии                    30133 non-null uint8
GEN_INDUSTRY_Информационные услуги                        30133 non-null uint8
GEN_INDUSTRY_Коммунальное хоз-во/Дорожные службы          30133 non-null uint8
GEN_INDUSTRY_Логистика                                    30133 non-null uint8
GEN_INDUSTRY_Маркетинг                                    30133 non-null uint8
GEN_INDUSTRY_Металлургия/Промышленность/Машиностроение    30133 non-null uint8
GEN_INDUSTRY_Наука                                        30133 non-null uint8
GEN_INDUSTRY_Недвижимость                                 30133 non-null uint8
GEN_INDUSTRY_Нефтегазовая промышленность                  30133 non-null uint8
GEN_INDUSTRY_Образование                                  30133 non-null uint8
GEN_INDUSTRY_Подбор персонала                             30133 non-null uint8
GEN_INDUSTRY_Развлечения/Искусство                        30133 non-null uint8
GEN_INDUSTRY_Ресторанный бизнес/Общественное питание      30133 non-null uint8
GEN_INDUSTRY_СМИ/Реклама/PR-агенства                      30133 non-null uint8
GEN_INDUSTRY_Салоны красоты и здоровья                    30133 non-null uint8
GEN_INDUSTRY_Сборочные производства                       30133 non-null uint8
GEN_INDUSTRY_Сельское хозяйство                           30133 non-null uint8
GEN_INDUSTRY_Страхование                                  30133 non-null uint8
GEN_INDUSTRY_Строительство                                30133 non-null uint8
GEN_INDUSTRY_Торговля                                     30133 non-null uint8
GEN_INDUSTRY_Транспорт                                    30133 non-null uint8
GEN_INDUSTRY_Туризм                                       30133 non-null uint8
GEN_INDUSTRY_Управляющая компания                         30133 non-null uint8
GEN_INDUSTRY_Химия/Парфюмерия/Фармацевтика                30133 non-null uint8
GEN_INDUSTRY_ЧОП/Детективная д-ть                         30133 non-null uint8
GEN_INDUSTRY_Энергетика                                   30133 non-null uint8
GEN_INDUSTRY_Юридические услуги/нотариальные услуги       30133 non-null uint8
GEN_TITLE_Военнослужащий по контракту                     30133 non-null uint8
GEN_TITLE_Высококвалифиц. специалист                      30133 non-null uint8
GEN_TITLE_Другое                                          30133 non-null uint8
GEN_TITLE_Индивидуальный предприниматель                  30133 non-null uint8
GEN_TITLE_Партнер                                         30133 non-null uint8
GEN_TITLE_Работник сферы услуг                            30133 non-null uint8
GEN_TITLE_Рабочий                                         30133 non-null uint8
GEN_TITLE_Руководитель высшего звена                      30133 non-null uint8
GEN_TITLE_Руководитель низшего звена                      30133 non-null uint8
GEN_TITLE_Руководитель среднего звена                     30133 non-null uint8
GEN_TITLE_Служащий                                        30133 non-null uint8
GEN_TITLE_Специалист                                      30133 non-null uint8
ORG_TP_STATE_Государственная комп./учреж.                 30133 non-null uint8
ORG_TP_STATE_Индивидуальный предприниматель               30133 non-null uint8
ORG_TP_STATE_Некоммерческая организация                   30133 non-null uint8
ORG_TP_STATE_Частная ком. с инос. капиталом               30133 non-null uint8
ORG_TP_STATE_Частная компания                             30133 non-null uint8
ORG_TP_FCAPITAL_Без участия                               30133 non-null uint8
ORG_TP_FCAPITAL_С участием                                30133 non-null uint8
JOB_DIR_Адм-хоз. и трансп. службы                         30133 non-null uint8
JOB_DIR_Бухгалтерия, финансы, планир.                     30133 non-null uint8
JOB_DIR_Вспомогательный техперсонал                       30133 non-null uint8
JOB_DIR_Кадровая служба и секретариат                     30133 non-null uint8
JOB_DIR_Пр-техн. обесп. и телеком.                        30133 non-null uint8
JOB_DIR_Реклама и маркетинг                               30133 non-null uint8
JOB_DIR_Служба безопасности                               30133 non-null uint8
JOB_DIR_Снабжение и сбыт                                  30133 non-null uint8
JOB_DIR_Участие в основ. деятельности                     30133 non-null uint8
JOB_DIR_Юридическая служба                                30133 non-null uint8
FAMILY_INCOME_до 5000 руб.                                30133 non-null uint8
FAMILY_INCOME_от 10000 до 20000 руб.                      30133 non-null uint8
FAMILY_INCOME_от 20000 до 50000 руб.                      30133 non-null uint8
FAMILY_INCOME_от 5000 до 10000 руб.                       30133 non-null uint8
FAMILY_INCOME_свыше 50000 руб.                            30133 non-null uint8
REG_ADDRESS_PROVINCE_Агинский Бурятский АО                30133 non-null uint8
REG_ADDRESS_PROVINCE_Адыгея                               30133 non-null uint8
REG_ADDRESS_PROVINCE_Алтайский край                       30133 non-null uint8
REG_ADDRESS_PROVINCE_Амурская область                     30133 non-null uint8
REG_ADDRESS_PROVINCE_Архангельская область                30133 non-null uint8
REG_ADDRESS_PROVINCE_Астраханская область                 30133 non-null uint8
REG_ADDRESS_PROVINCE_Башкирия                             30133 non-null uint8
REG_ADDRESS_PROVINCE_Белгородская область                 30133 non-null uint8
REG_ADDRESS_PROVINCE_Брянская область                     30133 non-null uint8
REG_ADDRESS_PROVINCE_Бурятия                              30133 non-null uint8
REG_ADDRESS_PROVINCE_Владимирская область                 30133 non-null uint8
REG_ADDRESS_PROVINCE_Волгоградская область                30133 non-null uint8
REG_ADDRESS_PROVINCE_Вологодская область                  30133 non-null uint8
REG_ADDRESS_PROVINCE_Воронежская область                  30133 non-null uint8
REG_ADDRESS_PROVINCE_Горный Алтай                         30133 non-null uint8
REG_ADDRESS_PROVINCE_Дагестан                             30133 non-null uint8
REG_ADDRESS_PROVINCE_Еврейская АО                         30133 non-null uint8
REG_ADDRESS_PROVINCE_Ивановская область                   30133 non-null uint8
REG_ADDRESS_PROVINCE_Иркутская область                    30133 non-null uint8
REG_ADDRESS_PROVINCE_Кабардино-Балкария                   30133 non-null uint8
REG_ADDRESS_PROVINCE_Калининградская область              30133 non-null uint8
REG_ADDRESS_PROVINCE_Калмыкия                             30133 non-null uint8
REG_ADDRESS_PROVINCE_Калужская область                    30133 non-null uint8
REG_ADDRESS_PROVINCE_Камчатская область                   30133 non-null uint8
REG_ADDRESS_PROVINCE_Карачаево-Черкесия                   30133 non-null uint8
REG_ADDRESS_PROVINCE_Карелия                              30133 non-null uint8
REG_ADDRESS_PROVINCE_Кемеровская область                  30133 non-null uint8
REG_ADDRESS_PROVINCE_Кировская область                    30133 non-null uint8
REG_ADDRESS_PROVINCE_Коми                                 30133 non-null uint8
REG_ADDRESS_PROVINCE_Коми-Пермяцкий АО                    30133 non-null uint8
REG_ADDRESS_PROVINCE_Костромская область                  30133 non-null uint8
REG_ADDRESS_PROVINCE_Краснодарский край                   30133 non-null uint8
REG_ADDRESS_PROVINCE_Красноярский край                    30133 non-null uint8
REG_ADDRESS_PROVINCE_Курганская область                   30133 non-null uint8
REG_ADDRESS_PROVINCE_Курская область                      30133 non-null uint8
REG_ADDRESS_PROVINCE_Ленинградская область                30133 non-null uint8
REG_ADDRESS_PROVINCE_Липецкая область                     30133 non-null uint8
REG_ADDRESS_PROVINCE_Магаданская область                  30133 non-null uint8
REG_ADDRESS_PROVINCE_Марийская республика                 30133 non-null uint8
REG_ADDRESS_PROVINCE_Мордовская республика                30133 non-null uint8
REG_ADDRESS_PROVINCE_Москва                               30133 non-null uint8
REG_ADDRESS_PROVINCE_Московская область                   30133 non-null uint8
REG_ADDRESS_PROVINCE_Мурманская область                   30133 non-null uint8
REG_ADDRESS_PROVINCE_Нижегородская область                30133 non-null uint8
REG_ADDRESS_PROVINCE_Новгородская область                 30133 non-null uint8
REG_ADDRESS_PROVINCE_Новосибирская область                30133 non-null uint8
REG_ADDRESS_PROVINCE_Омская область                       30133 non-null uint8
REG_ADDRESS_PROVINCE_Оренбургская область                 30133 non-null uint8
REG_ADDRESS_PROVINCE_Орловская область                    30133 non-null uint8
REG_ADDRESS_PROVINCE_Пензенская область                   30133 non-null uint8
REG_ADDRESS_PROVINCE_Пермская область                     30133 non-null uint8
REG_ADDRESS_PROVINCE_Приморский край                      30133 non-null uint8
REG_ADDRESS_PROVINCE_Псковская область                    30133 non-null uint8
REG_ADDRESS_PROVINCE_Ростовская область                   30133 non-null uint8
REG_ADDRESS_PROVINCE_Рязанская область                    30133 non-null uint8
REG_ADDRESS_PROVINCE_Самарская область                    30133 non-null uint8
REG_ADDRESS_PROVINCE_Санкт-Петербург                      30133 non-null uint8
REG_ADDRESS_PROVINCE_Саратовская область                  30133 non-null uint8
REG_ADDRESS_PROVINCE_Сахалинская область                  30133 non-null uint8
REG_ADDRESS_PROVINCE_Свердловская область                 30133 non-null uint8
REG_ADDRESS_PROVINCE_Северная Осетия                      30133 non-null uint8
REG_ADDRESS_PROVINCE_Смоленская область                   30133 non-null uint8
REG_ADDRESS_PROVINCE_Ставропольский край                  30133 non-null uint8
REG_ADDRESS_PROVINCE_Тамбовская область                   30133 non-null uint8
REG_ADDRESS_PROVINCE_Татарстан                            30133 non-null uint8
REG_ADDRESS_PROVINCE_Тверская область                     30133 non-null uint8
REG_ADDRESS_PROVINCE_Томская область                      30133 non-null uint8
REG_ADDRESS_PROVINCE_Тульская область                     30133 non-null uint8
REG_ADDRESS_PROVINCE_Тюменская область                    30133 non-null uint8
REG_ADDRESS_PROVINCE_Удмуртия                             30133 non-null uint8
REG_ADDRESS_PROVINCE_Ульяновская область                  30133 non-null uint8
REG_ADDRESS_PROVINCE_Усть-Ордынский Бурятский АО          30133 non-null uint8
REG_ADDRESS_PROVINCE_Хабаровский край                     30133 non-null uint8
REG_ADDRESS_PROVINCE_Хакасия                              30133 non-null uint8
REG_ADDRESS_PROVINCE_Ханты-Мансийский АО                  30133 non-null uint8
REG_ADDRESS_PROVINCE_Челябинская область                  30133 non-null uint8
REG_ADDRESS_PROVINCE_Читинская область                    30133 non-null uint8
REG_ADDRESS_PROVINCE_Чувашия                              30133 non-null uint8
REG_ADDRESS_PROVINCE_Эвенкийский АО                       30133 non-null uint8
REG_ADDRESS_PROVINCE_Якутия                               30133 non-null uint8
REG_ADDRESS_PROVINCE_Ямало-Ненецкий АО                    30133 non-null uint8
REG_ADDRESS_PROVINCE_Ярославская область                  30133 non-null uint8
FACT_ADDRESS_PROVINCE_Агинский Бурятский АО               30133 non-null uint8
FACT_ADDRESS_PROVINCE_Адыгея                              30133 non-null uint8
FACT_ADDRESS_PROVINCE_Алтайский край                      30133 non-null uint8
FACT_ADDRESS_PROVINCE_Амурская область                    30133 non-null uint8
FACT_ADDRESS_PROVINCE_Архангельская область               30133 non-null uint8
FACT_ADDRESS_PROVINCE_Астраханская область                30133 non-null uint8
FACT_ADDRESS_PROVINCE_Башкирия                            30133 non-null uint8
FACT_ADDRESS_PROVINCE_Белгородская область                30133 non-null uint8
FACT_ADDRESS_PROVINCE_Брянская область                    30133 non-null uint8
FACT_ADDRESS_PROVINCE_Бурятия                             30133 non-null uint8
FACT_ADDRESS_PROVINCE_Владимирская область                30133 non-null uint8
FACT_ADDRESS_PROVINCE_Волгоградская область               30133 non-null uint8
FACT_ADDRESS_PROVINCE_Вологодская область                 30133 non-null uint8
FACT_ADDRESS_PROVINCE_Воронежская область                 30133 non-null uint8
FACT_ADDRESS_PROVINCE_Горный Алтай                        30133 non-null uint8
FACT_ADDRESS_PROVINCE_Дагестан                            30133 non-null uint8
FACT_ADDRESS_PROVINCE_Еврейская АО                        30133 non-null uint8
FACT_ADDRESS_PROVINCE_Ивановская область                  30133 non-null uint8
FACT_ADDRESS_PROVINCE_Иркутская область                   30133 non-null uint8
FACT_ADDRESS_PROVINCE_Кабардино-Балкария                  30133 non-null uint8
FACT_ADDRESS_PROVINCE_Калининградская область             30133 non-null uint8
FACT_ADDRESS_PROVINCE_Калмыкия                            30133 non-null uint8
FACT_ADDRESS_PROVINCE_Калужская область                   30133 non-null uint8
FACT_ADDRESS_PROVINCE_Камчатская область                  30133 non-null uint8
FACT_ADDRESS_PROVINCE_Карачаево-Черкесия                  30133 non-null uint8
FACT_ADDRESS_PROVINCE_Карелия                             30133 non-null uint8
FACT_ADDRESS_PROVINCE_Кемеровская область                 30133 non-null uint8
FACT_ADDRESS_PROVINCE_Кировская область                   30133 non-null uint8
FACT_ADDRESS_PROVINCE_Коми                                30133 non-null uint8
FACT_ADDRESS_PROVINCE_Коми-Пермяцкий АО                   30133 non-null uint8
FACT_ADDRESS_PROVINCE_Костромская область                 30133 non-null uint8
FACT_ADDRESS_PROVINCE_Краснодарский край                  30133 non-null uint8
FACT_ADDRESS_PROVINCE_Красноярский край                   30133 non-null uint8
FACT_ADDRESS_PROVINCE_Курганская область                  30133 non-null uint8
FACT_ADDRESS_PROVINCE_Курская область                     30133 non-null uint8
FACT_ADDRESS_PROVINCE_Ленинградская область               30133 non-null uint8
FACT_ADDRESS_PROVINCE_Липецкая область                    30133 non-null uint8
FACT_ADDRESS_PROVINCE_Магаданская область                 30133 non-null uint8
FACT_ADDRESS_PROVINCE_Марийская республика                30133 non-null uint8
FACT_ADDRESS_PROVINCE_Мордовская республика               30133 non-null uint8
FACT_ADDRESS_PROVINCE_Москва                              30133 non-null uint8
FACT_ADDRESS_PROVINCE_Московская область                  30133 non-null uint8
FACT_ADDRESS_PROVINCE_Мурманская область                  30133 non-null uint8
FACT_ADDRESS_PROVINCE_Нижегородская область               30133 non-null uint8
FACT_ADDRESS_PROVINCE_Новгородская область                30133 non-null uint8
FACT_ADDRESS_PROVINCE_Новосибирская область               30133 non-null uint8
FACT_ADDRESS_PROVINCE_Омская область                      30133 non-null uint8
FACT_ADDRESS_PROVINCE_Оренбургская область                30133 non-null uint8
FACT_ADDRESS_PROVINCE_Орловская область                   30133 non-null uint8
FACT_ADDRESS_PROVINCE_Пензенская область                  30133 non-null uint8
FACT_ADDRESS_PROVINCE_Пермская область                    30133 non-null uint8
FACT_ADDRESS_PROVINCE_Приморский край                     30133 non-null uint8
FACT_ADDRESS_PROVINCE_Псковская область                   30133 non-null uint8

#### Задание 4. Отделите целевую переменную и остальные признаки

Должно получится:
* 2 матрицы: X и X_test
* 2 вектора: y и y_test

In [62]:
X = df_train_preproc.drop(['TARGET'], axis=1)
X_test = df_test_preproc.drop(['TARGET'], axis=1)

y = df_train_preproc['TARGET']
y_test = df_test_preproc['TARGET']

#### Задание 5. Обучение и оценка качества разных моделей

In [70]:
from sklearn.cross_validation import train_test_split
# test_size=0.3, random_state=42

## Your Code Here
X_train, X_test, y_train, y_test = train_test_split(
    X,
    X_test,
    y,
    y_test,
    test_size=0.3, random_state=42)

ValueError: Found input variables with inconsistent numbers of samples: [15223, 14910, 15223, 14910]

In [46]:
# Попробовать следующие "черные ящики": интерфейс одинаковый 
#     fit, 
#     predict, 
#     predict_proba

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

## Your Code Here

In [48]:
# Посчитать метрики стандартные
# accuracy, precision, recall

from sklearn.metrics import accuracy_score, precision_score, recall_score

## Your Code Here

In [49]:
accuracy_score(y, predict)

NameError: name 'y' is not defined

In [ ]:
# Визуалищировать эти метрики всех моделей на одном графике (чтоб визуально посмотреть)

## Your Code Here

In [ ]:
# Потроить roc-кривые всех можелей на одном графике
# Вывести roc_auc каждой моделе

## Your Code Here

In [ ]:
from sklearn.cross_validation import cross_val_score
from sklearn.model_selection import StratifiedKFold
# Сделать k-fold (10 фолдов) кросс-валидацию каждой модели
# И посчитать средний roc_auc
cv = StratifiedKFold(n_splits=10, shuffle=True, random_state=123)

## Your Code Here

In [ ]:
# Взять лучшую модель и сделать predict (с вероятностями (!!!)) для test выборки


## Your Code Here

In [ ]:
# Померить roc_auc на тесте